set -e
if [[ -f ~/.nvm/nvm.sh ]]; then
    source ~/.nvm/nvm.sh
    #nvm use v8.10.0
    nvm use v14.15.4
fi

unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY

export AWS_DEFAULT_PROFILE=alexa-smart-home-irkit
export AWS_REGION="us-west-2"
