# project
serverless.yml

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

